.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid;
}

.button {
  padding: 0;
}
.buttonPlayer {
  padding: 4px;
}

.header {
  text-align: center;
}

.teams {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.team,
.spectators {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 12px;

  border: 1px solid;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.player,
.spectator {
  border-bottom: 1px solid;
}
