.room {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  padding-top: 10px;
  text-align: center;
}

.button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  line-height: normal;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
